* {
    border: 1px solid rgb(196, 195, 203);
    font-size: 30px;
}

.App {
    display: grid;
    grid-template-columns: 30% 70%;
    justify-content: center;
    align-content: center;
}

.aside-container {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}

